@use "../../colors";

.course {
    display: flex;
    color: white;
    background-color: colors.$surface-variant;

    &.information-container {
        display: flex;
        flex-direction: column;
    }
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}