@use "../../colors";

.course {
    display: flex;
    width: 50%;
    color: white;
    background-color: colors.$surface-variant;

    &.information-container {
        display: flex;
        flex-direction: column;
    }
}

.page {
    padding: 2rem;

    .courses-container {
        display: flex;
        flex: 1;
        flex-basis: 100%;
        flex-direction: row;
    }
}