@use "../../colors";

.event-preview-title {
    display: inline-block;
    font-size: 15px;
    padding: 0.1rem 0.3rem;
    margin: 0;
    max-width: 12ch;
    overflow: hidden;
    background-color:crimson;
    border-radius: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    row-gap: 20px;
    cursor: pointer;
    user-select: none;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;

    span {
        $size: 30px;
        display: inline-block;
        width: $size;
        height: $size;
        border-radius: 50%;
        line-height: $size;
    }

    &:hover {
        background-color: lighten(colors.$surface, 10%);
    }

    &.selected {
        border-color: colors.$primary;
        background-color: mix(colors.$surface, colors.$primary, 92%);
    }

    &.today span {
        background-color: colors.$primary;
    
        &:hover {
            background-color: darken(colors.$primary, 10%);
        }
    }
}