@use "../../colors";
@use "sass:color";

.dot {
    display: inline;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: darken(white, 50%);
}

.chevron {
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: white;
}

#calendar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    th, td {
        display: flex;
        flex-direction: column;
        max-height: 107px;
    }

    tr,
    tbody {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: repeat(7, 1fr);
        width: 100%;
    }

    .top-row {
        --x-padding: calc(15.4rem - 10vw);

        display: flex;
        color: white;
        padding: 1rem var(--x-padding);
        justify-content: space-between;
    }

    .week {
        border-spacing: 5rem;

        .day {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid transparent;
            row-gap: 20px;
            cursor: pointer;
            user-select: none;
            padding: 1rem;
            border-radius: 5px;
            text-align: center;

            span {
                $size: 30px;
                display: inline-block;
                width: $size;
                height: $size;
                border-radius: 50%;
                line-height: $size;
            }
        
            &:hover {
                background-color: lighten(colors.$surface, 10%);
            }

            &.selected {
                border-color: colors.$primary;
                background-color: mix(colors.$surface, colors.$primary, 92%);
            }
        
            &.today span {
                background-color: colors.$primary;
            
                &:hover {
                    background-color: darken(colors.$primary, 10%);
                }
            }
       }
    }
}

