@use "../../colors";
@use "sass:color";

#table {
    table-layout: fixed;
    width: 450px;
    border-spacing: 0.9rem;

    th, td {
        text-align: left;
    }
}

.calendar-day {
    cursor: pointer;
    user-select: none;
    padding: 0.85rem;
    border-radius: 25px;
    text-align: center;

    &:hover {
        background-color: lighten(colors.$surface, 10%);
    }

    &.today {
        background-color: colors.$primary;

        &:hover {
            background-color: darken(colors.$primary, 10%);
        }
    }
}